* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
}

.html {
  font-family: 'Oswald', sans-serif;
  font-family: 'Prompt', sans-serif;
  font-family: 'Roboto', sans-serif;
}

.container {
  max-width: 1300px;
  width: 100%;
  margin: auto;
}

.header {
  margin-top: 36px;
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
}

.header__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__block__logo__mowing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 500px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__block__mowing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.text__clients {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 40px;
  font-family: Prompt;
  font-style: normal;
  font-weight: 600;
  font-size: 16p;
  line-height: 24px;
  text-align: center;
}

.text__types {
  font-size: 25px;
  line-height: 37px;
  font-family: Oswald;
  margin-left: 12px;
  font-style: normal;
  font-weight: bold;
  color: #333333;
}

.text__types__poker {
  font-family: Prompt;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  color: #219653;
  margin-left: 15px;
}

.text__calls {
  font-family: Prompt;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 23px;
  color: #219653;
}

.text__phone {
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 17px;
  line-height: 20px;
  color: #333333;
  text-decoration: none;
}

.img__phone {
  margin-right: -40px;
  margin-top: -5px;
}

.phone__block {
  width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.head__block {
  margin-top: 58px;
  margin-bottom: 100px;
}

.head__block__text {
  font-family: Prompt;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 172%;
  color: #333333;
}

.company {
  font-family: Oswald;
  font-style: normal;
  font-weight: bold;
  font-size: 34px;
  line-height: 50px;
  border-left: 6px solid  #219653;
  padding-left: 5px;
  max-height: 34px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 45px;
}

.clients__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.clients__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.img__clients {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.maxi {
  margin-top: 26px;
}

.rainbow {
  margin-top: 14px;
}
/*# sourceMappingURL=style.css.map */